.App {
  text-align: center;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.left-container .title-top {
  text-align: left;

  width: 60%;
  height: auto;

  font-size: 45px;
  font-weight: 790;
  line-height: 50px;
  letter-spacing: 0.025em;
  color: #fff;
}

.left-container .title-bottom {
  text-align: left;

  width: 60%;
  height: auto;

  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.040em;
  color: #fff;
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.right-container .top-message{
  width: 60%;
  height: auto;

  background-color: #F00000;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}

.right-container .top-message-title {
  font-size: large;
  width: 100%;
  height: auto;

  letter-spacing: 0.025em;
  color: #fff;
}

.form-container {
  margin-top: 50px;

  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-container .form {
  padding: 20px;
  width: 80%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container .form .input-field {
  padding: 13px 15px;
  
  height: auto;
  margin-bottom: 20px;

  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.030em;

  border: 1px solid #dadada;
  border-radius: 4px;
}

.select-field{  
  height: auto;
  margin-bottom: 20px;

  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.030em;

  border: 1px solid #dadada;
  border-radius: 4px;
}

.submit-button{
  width: 100%;
  height: auto;
  padding: 15px 0px;

  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.030em;
  color: #fff;

  border: none;
  background-color: #B5B5B5;
  border-radius: 4px;

  cursor: not-allowed;
}

.submit-button-enabled{
  width: 100%;
  height: auto;
  padding: 15px 0px;

  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.030em;
  color: #fff;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  background-color: #37CC8A;
}

.submit-button-enabled:hover{
  background-color: #2E9C6E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bottom-message{
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.025em;
  color: #8b8b8b;
}

.bottom-message a{
  text-decoration: none;
  font-weight: 600;
  color: #F00000;
}